/*Selectores de etiqueta*/

body{
	background-image: url(../image/fondo.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-attachment: fixed;
	background-position: center;
	font-size: 100%;
	display: grid;
}

h1{
	border-radius: 2em;
	border: double skyblue 0.3rem;
	padding: 1em;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, .8);
}

footer{
	position: relative;
	padding-top: 3rem;
}

.pie{
	bottom: 0;
	position: relative;
}

h1,p{
	text-align: center;
	color: white;
}

.polaroid img{
	opacity: .5;
	filter: blur(2px);
} 

.polaroid img:hover{
	opacity:1;
	filter: blur(0);
}

div.polaroid{
	position: relative;
	background-color: white;
	width: 300px;
	padding: 10px;
	margin-left: 10%;
	margin-bottom: 25px;
	box-shadow: 15px 15px 15px rgba(0, 0, 0, 0.5);
	display: inline-block;
	transition: transform 2s;
	transition-delay: 0.2s;
}

div.galeria{
	display: inline-block;
}

div.polaroid:hover{
	transform: rotate(20deg) scale(1.5);
	z-index: 1;
	cursor: progress;
}

.texto{
	text-align: center;
}

.texto p{
	color: black;
}

.imgtext{
	position: absolute;
	top: 8%;
	left: 30px;
	color: white;
	font-size: 18px;
}

.enlaces{
	position: relative;
	padding-bottom: 2em;
	display: grid;
}

/*Selector de atributos*/

a[href="codigofacilito.com"]{
	color: red;
}

/*Selectores de clase*/

.ejemplo{
	background-color: hsla(18, 50%, 20%,0.8);
	height: 20px;
}
h2.ejemplo{
	color: white;
	height: 40px;
}

/*Selectores de ID*/

#colores > p{
	background-color: yellow;
	color: black;
	font-size: 2em;
}
#orange{
	color: orange;
}
#green{
	color: green;
}
#red{
	color: red;
}

@media(min-width: 900px){
	body{
		background-image: url(../image/fondo.jpg);
		background-repeat: no-repeat;
		background-size: 100% 100%;
		background-attachment: fixed;
	}

}