 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/pexels-photo-3218467.jpeg");
}

.u-section-1 .u-sheet-1 {
  min-height: 1034px;
}

.u-section-1 .u-text-1 {
  width: 699px;
  font-weight: normal;
  margin: 30px auto 0;
}

.u-section-1 .u-icon-1 {
  font-size: 3.1334em;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 307px 106px 0;
}

.u-section-1 .u-text-3 {
  width: 699px;
  font-size: 1.5rem;
  margin: 20px auto 0;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: 115px auto 47px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-1 .u-text-2 {
    width: 697px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 653px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 11px;
    margin-right: 11px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 490px;
  }

  .u-section-1 .u-text-1 {
    width: 540px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1096px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
    margin-top: 54px;
  }

  .u-section-1 .u-text-2 {
    font-size: 2.25rem;
    width: 340px;
  }

  .u-section-1 .u-text-3 {
    width: 340px;
  }

  .u-section-1 .u-icon-2 {
    margin-bottom: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 747px;
}

.u-section-2 .u-text-1 {
  font-family: Alatsi;
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  font-size: 3rem;
  margin: 0 auto;
}

.u-section-2 .u-slider-1 {
  min-height: 747px;
  margin-top: -80px;
  margin-bottom: -28px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
  width: auto;
  height: auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 60px;
}

.u-section-2 .u-image-1 {
  width: 860px;
  height: 276px;
  margin: 100px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 3.75rem;
  font-family: "Aguafina Script";
  margin: 14px auto 0;
}

.u-section-2 .u-text-3 {
  font-size: 1.25rem;
  background-image: none;
  margin: 19px 0 0;
}

.u-section-2 .u-carousel-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 14px 60px;
}

.u-section-2 .u-image-2 {
  width: 860px;
  height: 276px;
  margin: 100px auto 0;
}

.u-section-2 .u-text-4 {
  font-size: 3.75rem;
  font-family: "Aguafina Script";
  margin: 18px auto 0;
}

.u-section-2 .u-text-5 {
  font-size: 1.25rem;
  background-image: none;
  margin: 15px 0 0;
}

.u-section-2 .u-carousel-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 15px 60px 14px;
}

.u-section-2 .u-image-3 {
  width: 860px;
  height: 276px;
  margin: 99px auto 0;
}

.u-section-2 .u-text-6 {
  font-size: 3.75rem;
  font-family: "Aguafina Script";
  margin: 17px auto 0;
}

.u-section-2 .u-text-7 {
  font-size: 1.25rem;
  background-image: none;
  margin: 16px 0 0;
}

.u-section-2 .u-carousel-control-1 {
  width: 40px;
  height: 40px;
  left: 0;
  position: absolute;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  width: 40px;
  height: 40px;
  left: auto;
  position: absolute;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 734px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 734px;
    height: auto;
  }

  .u-section-2 .u-image-1 {
    width: 820px;
    height: 263px;
  }

  .u-section-2 .u-image-2 {
    width: 820px;
    height: 263px;
  }

  .u-section-2 .u-image-3 {
    width: 820px;
    height: 263px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 683px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 683px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-1 {
    width: 660px;
    height: 212px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-2 {
    width: 660px;
    height: 212px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-2 .u-image-3 {
    width: 660px;
    height: 212px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 60px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 638px;
  }

  .u-section-2 .u-image-1 {
    width: 520px;
    height: 167px;
  }

  .u-section-2 .u-image-2 {
    width: 520px;
    height: 167px;
  }

  .u-section-2 .u-image-3 {
    width: 520px;
    height: 167px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 731px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: auto;
    margin-top: 28px;
  }

  .u-section-2 .u-slider-1 {
    min-height: 648px;
    margin-top: -54px;
    margin-bottom: 60px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-1 {
    width: 320px;
    height: 103px;
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-3 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-2 {
    width: 320px;
    height: 103px;
    margin-top: 86px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-top: 20px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 40px;
    margin-right: 40px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-image-3 {
    width: 320px;
    height: 103px;
  }
} .u-section-3 {
  background-image: url("images/0806279dfc71658fa6212ce02bdb751d7939c664f41d18a76ac085780a11c4e8b7d95e860c6167002a654074bf7cefef344d9d67ebf746af399809_1280.jpg");
  background-position: 50% 50%;
}

.u-section-3 .u-sheet-1 {
  min-height: 900px;
}

.u-section-3 .u-text-1 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 588px 531px 0 0;
}

.u-section-3 .u-text-2 {
  margin: 28px 531px 0 0;
}

@media (max-width: 1199px) {
   .u-section-3 {
    background-position: 100% 100%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 748px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 331px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-right: 382px;
  }
}

@media (max-width: 991px) {
   .u-section-3 {
    background-position: 0% 100%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 758px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 506px;
    margin-right: 111px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 347px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 652px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-right: 265px;
  }
}

@media (max-width: 575px) {
   .u-section-3 {
    background-position: 55.07% 0%;
  }

  .u-section-3 .u-sheet-1 {
    min-height: 657px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 316px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 65px;
  }
} .u-section-4 {
  min-height: 806px;
}

.u-section-4 .u-gallery-1 {
  height: 510px;
  margin-top: 15px;
  margin-bottom: 0;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-4 .u-carousel-item-1 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-1 {
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-4 .u-carousel-item-2 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-2 {
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-4 .u-carousel-item-3 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-3 {
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-4 .u-carousel-item-4 {
  margin-right: 10px;
}

.u-section-4 .u-back-image-4 {
  object-position: 27.42% 50%;
}

.u-section-4 .u-over-slide-4 {
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-4 .u-carousel-item-5 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-5 {
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-4 .u-carousel-item-6 {
  margin-right: 10px;
}

.u-section-4 .u-over-slide-6 {
  transition-duration: 0.25s;
  padding: 20px;
}

.u-section-4 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-carousel-control-2 {
  position: absolute;
  right: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-text-1 {
  font-weight: 400;
  font-size: 2.25rem;
  width: 740px;
  margin: 56px auto 0;
}

.u-section-4 .u-btn-1 {
  letter-spacing: 1px;
  font-size: 0.875rem;
  border-style: none;
  font-weight: 600;
  text-transform: uppercase;
  margin: 49px auto 34px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-left: calc(((100% - 940px) / 2) + 100px);
    margin-right: calc(((100% - 940px) / 2) + 100px);
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 940px) / 2) + 393px);
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-text-1 {
    font-size: 3rem;
    width: 720px;
    margin-left: calc(((100% - 720px) / 2));
    margin-right: calc(((100% - 720px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 720px) / 2) + 173px);
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.75rem;
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 540px) / 2));
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    height: 549px;
  }

  .u-section-4 .u-carousel-item-1 {
    margin-right: 0;
  }

  .u-section-4 .u-over-slide-1 {
    padding: 30px;
  }

  .u-section-4 .u-carousel-item-2 {
    margin-right: 0;
  }

  .u-section-4 .u-over-slide-2 {
    padding: 30px;
  }

  .u-section-4 .u-carousel-item-3 {
    margin-right: 0;
  }

  .u-section-4 .u-over-slide-3 {
    padding: 30px;
  }

  .u-section-4 .u-carousel-item-4 {
    margin-right: 0;
  }

  .u-section-4 .u-over-slide-4 {
    padding: 30px;
  }

  .u-section-4 .u-carousel-item-5 {
    margin-right: 0;
  }

  .u-section-4 .u-over-slide-5 {
    padding: 30px;
  }

  .u-section-4 .u-carousel-item-6 {
    margin-right: 0;
  }

  .u-section-4 .u-over-slide-6 {
    padding: 30px;
  }

  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
    margin-right: calc(((100% - 340px) / 2));
  }

  .u-section-4 .u-btn-1 {
    margin-left: calc(((100% - 340px) / 2) + 93px);
  }
}.u-section-5 .u-sheet-1 {
  min-height: 388px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 388px;
}

.u-section-5 .u-container-layout-1 {
  padding: 5px 60px;
}

.u-section-5 .u-text-1 {
  font-size: 2.25rem;
  margin: 36px 0 0;
}

.u-section-5 .u-text-2 {
  margin: 36px 0 0;
}

.u-section-5 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-text-3 {
  font-size: 2.25rem;
  margin: 77px 0 0;
}

.u-section-5 .u-text-4 {
  margin: 45px 0 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  padding: 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 388px;
}

.u-section-5 .u-container-layout-2 {
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 600px;
  }

  .u-section-5 .u-layout-wrap-1 {
    min-height: 334px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 320px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 49px;
    padding-right: 49px;
  }

  .u-section-5 .u-text-1 {
    position: relative;
  }

  .u-section-5 .u-text-3 {
    position: relative;
  }

  .u-section-5 .u-text-4 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 539px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-layout-wrap-1 {
    min-height: 43px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1000px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 1px;
    min-height: 273px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 465px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 670px;
  }

  .u-section-5 .u-layout-wrap-1 {
    margin-bottom: 17px;
    min-height: auto;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 315px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 52px;
    font-size: 1.5rem;
  }

  .u-section-5 .u-text-2 {
    width: auto;
    margin-top: 45px;
  }

  .u-section-5 .u-text-3 {
    font-size: 1.5rem;
    margin-top: 52px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 338px;
  }
} .u-section-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url("images/8a48487eabd13a6b316334d866d6a4a0a95d662bf2b0554c475d1f0227e80899af66c76017a7eff0d10bce87219e59ff3e602f88c7b66c7919f81c_1280.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-sheet-1 {
  min-height: 138px;
}

.u-section-6 .u-layout-wrap-1 {
  margin: 0 auto 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 60px;
}

.u-section-6 .u-text-1 {
  font-size: 2.25rem;
  margin: 0 auto;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 108px;
}

.u-section-6 .u-container-layout-2 {
  padding: 29px 60px;
}

.u-section-6 .u-social-icons-1 {
  height: 48px;
  min-height: 16px;
  width: 122px;
  min-width: 58px;
  transition-duration: 0.5s;
  margin: 0 auto;
}

.u-section-6 .u-icon-1 {
  color: rgb(59, 89, 152) !important;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 149px;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 89px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 89px;
  }

  .u-section-6 .u-icon-2 {
    color: rgb(197, 54, 164) !important;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 160px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 68px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 262px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 102px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 232px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 64px;
  }
}

.u-section-6 .u-social-icons-1,
.u-section-6 .u-social-icons-1:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, custom-border, border-top-width, border-left-width, border-right-width, border-bottom-width, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-section-6 .u-social-icons-1.u-social-icons-1.u-social-icons-1:hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-6 .u-social-icons-1 {
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-6 .u-social-icons-1.u-social-icons-1.u-social-icons-1.hover {
  transform: scale(1.2) translateX(0px) translateY(0px) !important;
  box-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  text-shadow: undefined undefined undefined rgba(var(--undefined-r),var(--undefined-g),var(--undefined-b),0) !important;
  border-style: solid !important;
  border-width: 0px !important;
}

.u-section-6 .u-social-icons-1 {
  border-style: solid !important;
  border-width: 0px !important;
}